<main>
    <h1>Hello World!</h1>
    <h2>Welcome</h2>
    <h3>Aboard</h3>
    <hr>
    <div class="display-1">Hello World!</div>
    <div class="display-3">Welcome to my website</div>
    <br>
    <div class="display-6 text-muted text-center">About</div>
    <div class="text-end"><span class="display-6">back to top</span></div>

    <div class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, accusantium? Omnis tenetur optio sint, autem quisquam vitae id. Alias repudiandae consectetur earum veniam magni. Saepe modi culpa veniam quasi provident!</div>
    <br>
    <div><span class="text-uppercase">uppercase</span></div>
    <div><span class="text-lowercase">lowercase</span></div>
    <div><span class="text-capitalize">Lorem ipsum dolor sit</span></div>
    <hr>
    <button class="btn btn-primary">
        <span class="text-uppercase">Start button</span>
    </button>
    <hr>
    <button class="btn btn-secondary">
        <span class="text-uppercase">Start button</span>
    </button>
    <hr>
    <button class="btn btn-success">
        <span class="text-uppercase">Save button</span>
    </button>
    <hr>
    <button class="btn btn-danger">
        <span class="text-uppercase">Danger button</span>
    </button>
    <hr>
    <button class="btn btn-warning">
        <span class="text-uppercase">Warning button</span>
    </button>
    <hr>
    <button class="btn btn-info">
        <span class="text-uppercase">Info button</span>
    </button>
    <hr>
    <button class="btn btn-light">
        <span class="text-uppercase">Light button</span>
    </button>
    <hr>
    <button class="btn btn-dark">
        <span class="text-uppercase">Dark button</span>
    </button>
    <hr>
    <a href="#" class="btn btn-primary">
        <span class="text-uppercase">Link button</span>
    </a>
    <hr>
    <div class="card">
        <p class="text-primary card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat debitis incidunt repudiandae reiciendis, rem aut corrupti sapiente odit quam sit ipsum dolores magnam, facere quibusdam minus maiores excepturi praesentium eaque!</p>
        <p class="text-secondary card-body">Secondary text</p>
        <p class="text-muted card-body" >Muted text</p>
        <p class="text-success card-body">Success text</p>
        <p class="text-danger card-body">Danger text</p>
        <p class="text-warning card-body">Warning text</p>
        <p class="text-info card-body">Info text</p>
        <p class="text-light card-body">Light text</p>
        <p class="text-dark card-body">Dark text</p>
    </div>
    <hr>
    <div class="card">
        <button class="btn btn-outline-primary btn-lg">
        <span class="text-uppercase">Start button big</span>
    </button>
    <hr>
    <button class="btn btn-outline-secondary btn-sm">
        <span class="text-uppercase">Start button small</span>
    </button>
    <hr>
    <button class="btn btn-outline-success">
        <span class="text-uppercase">Save button</span>
    </button>
    <hr>
    <button class="btn btn-outline-danger">
        <span class="text-uppercase">Danger button</span>
    </button>
    <hr>
    <button class="btn btn-outline-warning">
        <span class="text-uppercase">Warning button</span>
    </button>
    <hr>
    <button class="btn btn-outline-info">
        <span class="text-uppercase">Info button</span>
    </button>
    <hr>
    <button class="btn btn-outline-light">
        <span class="text-uppercase">Light button</span>
    </button>
    <hr>
    <button class="btn btn-outline-dark">
        <span class="text-uppercase">Dark button</span>
    </button>
    <hr>
    <a href="#" class="btn btn-outline-primary">
        <span class="text-uppercase">Link button</span>
    </a>
    <hr>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">The content</div>
    </div>
</main>