{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main>
    <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="h1 mb-4">Page List</div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam ratione natus, non odit quisquam facilis fugiat iusto? Dolore nihil eligendi harum quisquam fugit doloribus, natus ipsum dignissimos a illum?</p>
                    </div>
                </div>
                <div>
                    <a href="/shophome" type="button" class="btn btn-primary mb-3">Shop home</a>
                </div> 
                <div>
                    <a href="/shopcatalog" type="button" class="btn btn-primary mb-3">Shop catalog</a>
                </div>
                <div>
                    <a href="/shopprofile" type="button" class="btn btn-primary mb-3">Shop profile</a>
                <div>
                    <a href="/shopnews" type="button" class="btn btn-primary mb-3">Shop news</a>
                <div>
                    <a href="/shopproduct" type="button" class="btn btn-primary mb-3">Shop product</a>
                </div>
                <div>
                    <a href="/shopreview" type="button" class="btn btn-primary mb-3">Shop review</a>
                <div>
                    <a href="/shoporder" type="button" class="btn btn-primary mb-3">Shop order</a>
                <div>
                    <a href="/shopcart" type="button" class="btn btn-primary mb-3">Shopcart</a>
                </div>
                
                
                 
            
        </div>
</main>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}