<div class="tox">
    {{!-- <h1>Hello!</h1>
    <em>Yes</em>
    
    <div class="card m-5 card-dark p-2">
        <h2>Welcome</h2>

        <ul>
            <li>First</li>
            <li>Second</li>
            <li>Third</li>
            <li>4th</li>
            <li>5th</li>
            <li>6th</li>
            <li>7th</li>
            <li>8th</li>
            <li>9th</li>
        </ul>

        <ul>
            <li>Only Child</li>
           
        </ul>

        <strong class="item">Only one</strong>

        <p class="item">
            Dolor sit 1
        </p>
        <p>
            Not Dolor sit 2
        </p>
        <p class="item">
            Dolor sit 3
        </p>
        <p></p>
    </div>

<h2 id="user">Hi, {{name}}</h2>
<a href="#" type="button" class="btn btn-primary">Subscribe</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eos sed eligendi est consequuntur optio laboriosam. Dicta error vero, suscipit vitae sit nulla tempore, ducimus aut aspernatur iusto quam et?</p>
</div>

<footer class="box">
<a href="#" type="button" class="user btn-primary">Subscribe</a>
{{!-- <p class="user">Lorem ipsum dolor <em>Important!</em> sit amet consectetur adipisicing elit. Ducimus eos sed eligendi est consequuntur optio laboriosam. Dicta error vero, suscipit vitae sit nulla tempore, ducimus aut aspernatur iusto quam et?</p> --}} --}}

<div class="card p-5 card-dark">
    <input class="input-dark" placeholder="Important" required>
    {{!-- <input class="input-dark" type="number"> --}}
</div>

<div class="card p-5 m-5 card-dark small">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/id/1/200/300" height="100px">
<button class="btn">Subscribe</button>
<br>
<button class="small btn btn-secondary">Subscribe</button>
<br>
<a class="small btn big" href="#" >Click</a>
<p class="big-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dignissimos cupiditate beatae ab perspiciatis. Repellat et, neque iusto voluptates laborum, soluta praesentium aliquam repudiandae minus blanditiis fugit harum, sapiente sequi.</p>
</div>


</div>