<main>
    <div class="row-4">
        <button type="button" class="btn btn-link">Link</button>
        <button type="button" class="btn btn-link">Link</button>
        <button type="button" class="btn btn-link">Link</button>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <hr>
    <div>
        <div class="h1">H1 Heading</div>
        <p>paragraph</p>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <section class="col-12">
        <div class="h2">H2 Heading</div>

        <div class="row gy-2 gx-2">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="text-bg-light">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="summary" class="btn btn-primary">Go somwhere</a>
                    </div>                   
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="text-bg-light">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="summary" class="btn btn-primary">Go somwhere</a>
                    </div>                   
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="text-bg-light">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="summary" class="btn btn-primary">Go somwhere</a>
                    </div>                   
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="text-bg-light">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="summary" class="btn btn-primary">Go somwhere</a>
                    </div>                   
                </div>
            </div>            
        </div>
    </section>
    <hr>
    <div>
        <div class="h2">H2 heading</div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Card header</th>
                    <th>Card header</th>
                    <th>Card header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A second item</td>                   
                    <td>A second item</td>
                    <td>A second item</td>
                </tr>
                <tr>
                    <td>A third item</td>                   
                    <td>A third item</td>
                    <td>A third item</td>
                </tr>               
                <tr>
                    <td>A third item</td>                   
                    <td>A third item</td>
                    <td>A third item</td>
                </tr>  
                
            </tbody>         
        </table>
    </div>

    <section class="col-12">
        <div class="display-5">Display 3</div>
            
            <div class="row gx-2 gy-1">
            <div class="col-6">
            
            <div class="card text-bg-secondary">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            </div>

            <div class="col-6">
            
            <div class="card text-bg-secondary">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            </div>

            <div class="col-6">
            
            <div class="card text-bg-secondary">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            </div>

            <div class="col-6">
            
            <div class="card text-bg-secondary">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            </div>
            

            
            
        </section>
        <br>
        <hr>
        <section class="col-12">
        
            
            <div class="row gx-2 gy-1">
            <div class="col-6">
            
            <div class="card">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary">Ок</button>
            </div>
            <div class="card-footer text-center">Footer</div>
            </div>
            </div>

            <div class="col-6">
            
            <div class="card">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary">Ок</button>
            </div>
            <div class="card-footer text-center">Footer</div>
            </div>
            
        </section>
        <br>
        <hr>
        <div class="display-2">Display 2</div>

        <section class="col-12">
        
            
            <div class="row gx-3 gy-3">
            <div class="col-6">
            
            <div class="card text-bg-warning text-light">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
            </div>
            </div>

            <div class="col-6">
            
            <div class="card text-bg-warning text-light">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-titel">Secondary</h5>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
            
            </div>
            
        </section>
        <br>
        <hr>

        <div class="h5">H5 Heading</div>
        <section class="col-12"></section>
        <div class="row g-3">
        <div>
            <a href="#" type="button" class="btn btn-link" >Link</a>
            <a href="#" type="button" class="btn btn-outline-dark">Dark</a>
            <a href="#" type="button" class="btn btn-outline-info">Info</a>
        </div>
        </div>

        
        <div class="row g-3">
        <div>
            <a href="#" type="button" class="btn btn-link" >Link</a>
            <a href="#" type="button" class="btn btn-outline-dark">Dark</a>
            <a href="#" type="button" class="btn btn-outline-info">Info</a>
        </div>
        </div>


        <div class="row g-3">
            <div>
             <a href="#" type="button" class="btn btn-link" >Link</a>
            <a href="#" type="button" class="btn btn-outline-dark">Dark</a>
            <a href="#" type="button" class="btn btn-outline-info">Info</a>
        </div>
        </div>
        </section>

    

</main>