h1 {
  /* color */
  color: red;
  background: #000;
  /* font */
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 300;
  /* text */
  text-align: center;
  text-transform: uppercase;
  /* box */
  padding: 1em;
  margin: 0; /* remove default margin */
  /* border */
  border-bottom: 1px solid #000;
}
