<nav>
        {{> link text='Summary' href="/summary" navBar=true}}
        {{> link text='Skills' href="/skills" navBar=true}}
        {{> link text='Education' href="/education" navBar=true}}
        {{> link text='Work' href="/work" navBar=true noLine=true}}
</nav>