<div>
    {{#if big}}
        <h2>{{data}}</h2>
        {{else}}
        <h3>{{data}}</h3>
        {{/if}}
</div>

<style>
    h2 {
        color: darkgrey;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
    h3 {
        color: darkgray;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
</style>
